<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <translate.orderToEntity>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Orders.TranslateOrderToEntity, Sitecore.Commerce.Engine.Connect">
          <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Pipelines.Orders.FixedTranslateOrderToEntity, Sitecore.Support.28617</patch:attribute>
        </processor>
      </translate.orderToEntity>
      <commerce.orders.getVisitorOrders>
        <processor type="Sitecore.Commerce.Engine.Connect.Pipelines.Orders.GetVisitorOrders, Sitecore.Commerce.Engine.Connect">
          <patch:attribute name="type">Sitecore.Support.Commerce.Engine.Connect.Pipelines.Orders.FixedGetVisitorOrders, Sitecore.Support.28617</patch:attribute>
        </processor>
      </commerce.orders.getVisitorOrders>
    </pipelines>
  </sitecore>
</configuration>